<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cp.kt_toy.androidbasics">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBasics">
        <activity android:name=".view.CustomViewActivity" />
        <activity
            android:name=".lifecycle.Lifecycle3Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".lifecycle.Lifecycle2Activity"
            android:launchMode="singleTask" />
        <activity android:name=".lifecycle.Lifecycle1Activity" />
        <activity android:name=".lifecycle.LifecycleActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>